<%= form_for @listing do |form| %>

	<div class="text-field">
		<%= form.label :title %>
	  <%= form.text_field :title, type: 'string' %>
	</div>

	<div class="text-field">
		<%= form.label :city %>
	  <%= form.text_field :city, type: 'string' %>
	</div>

	<div class="text-field">
		<%= form.label :country %>
	  <%= form.text_field :country, type: 'string' %>
	</div>

	<div class="text-field">
		<%= form.label :address %>
	  <%= form.text_area :address, type: 'text' %>
	</div>

	<div class="text-field">
	  <%= form.label :status %>
	  <%= form.text_field :status, type: 'string' %>
	</div>

	<div class="number-field">
	  <%= form.label :price %>
	  <%= form.number_field :price %>
	</div>

	<div class="text-field">
	  <%= form.label :property_type %>
	  <%= form.text_field :type, type: 'string' %>
	</div>

	<%= form.submit "Submit" %>
<% end %>