<h3> Title: <%= @listing.title %> </h3>
<h5> Address: <%= @listing.address %> </h5>
<h5> Status: <%= @listing.status %> </h5>
<h5> Price: <%= @listing.price %> </h5>
<h5> Property Type: <%= @listing.type %> </h5>

<%= link_to "Edit", edit_listing_path(@listing) %>