<h3> Title: <%= @listing.title %> </h3>

<div>
	Posted By: <%= @listing.user.email  %>
</div>
<div>
	<p> City: <%= @listing.city %> </p>
	<p> Country: <%= @listing.country %> </p>
	<p> Status: <%= @listing.status %> </p>
	<p> Price: <%= @listing.price %> </p>
	<p> Property Type: <%= @listing.type %> </p>

<%= button_to "Edit", edit_listing_path(@listing) %>
</div>

<h3> Booking <%= @listing.title %> ? </h3>
<%= render 'bookings/form' %>