<%= form_for [@listing, @booking] do |form| %>
	<% if @errors.present? %>
		<div>
			<%= @errors %>
		</div>
	<% end %>
<%# form.hidden_field :listing_id, value: @listing.id %>

	<div>
		<%= form.label :start_date %>
  	<%= form.date_field :start_date %>
  </div>
  <div>
  	<%= form.label :end_date %>
  	<%= form.date_field :end_date %>
  </div>
  <div>
  	<%# @total_price %>
  </div>
  <div>
		<%= form.submit "Submit Booking" %>
	</div>
<% end %>