<h1>Sign up?</h1>
<h5>Here is new.html.erb</h5>
<%= form_for :user do |f| %>
  Firstname: <%= f.text_field :first_name %><br />
  Lastname : <%= f.text_field :last_name %><br />
  Email : <%= f.text_field :email %><br />
  Password : <%= f.password_field :password %><br />
  <%= f.submit "Sign Up", class: "btn-submit"%>
<% end %>